<?xml version="1.0" encoding="ISO-8859-1" ?>
<!-- $Id$ -->

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
		"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Grid Front End</display-name>
	<servlet>
		<servlet-name>gridfe</servlet-name>
		<servlet-class>gridfe.GridFE</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>gridfe</servlet-name>
		<url-pattern>/gridfe/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>gridfe</servlet-name>
		<url-pattern>/gridfe</url-pattern>
	</servlet-mapping>
<!--
	<init-param>
		<param-name>extra-classpath</param-name>
		<param-value>/var/www/gridfe/WEB-INF/classes/jce-jdk13-125.jar</param-value>
	</init-param>
-->
</web-app>
